* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --lightText: #fffeff;
    --darkText: #242424;
    --lightBg: #fdf4fa;
    --darkBg: #1a0012;
    --accent: #ff8cb1;

    background-color: var(--lightBg);
    color: var(--darkText);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    padding: 0px;
}

body.dark {
    --lightText: #242424;
    --darkText: #fffafd;
    --lightBg: #0f000b;
    --darkBg: #fdf4fa;
    --accent: #78123d;
}

.header {
    background-color: var(--accent);
    color: var(--darkText);
    display: flex;
    align-items: center;
    padding: 0px 15px;
    position: fixed;
    width: 100%;
    line-height: 1.2;
}

.logo {
    padding: 0px;
}

img {
    height: 180px;
    width: auto; 
    margin-left: 20px;
}

.navi {
    margin-left: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

li:hover {
    color: var(--lightText);
}

a {
    text-decoration: none;
    color: var(--darkText);
}

a:hover {
    color: var(--lightText);
}

a:active {
    color: var(--darkBg);
}

.theme-toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle-button .icon {
    width: 32px;
    height: 32px;
    fill: var(--darkText); 
}

.theme-toggle-button:hover .icon {
    fill: var(--lightText);
}